{% extends 'base.html' %}



{% block title %} 
Add a Patient
{% endblock %}












{% block content %} 
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% load crispy_forms_tags %} 

<form action="{% url 'manager:add_patient' %}" method="POST" class="">
    {% csrf_token %}
    
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="{{ form.name.id_for_label}}">Name of the Patient</label>
            {{ form.name }}
        </div>
        <div class="form-group col-md-4">
            <label for="{{form.patient_status.id_for_label}}">Status </label>
                {{form.patient_status}}
          </div>
          <div class="form-group col-md-3">
            <label for="{{ form.age.id_for_label}}">Age </label>
            {{ form.age }}
          </div>
        </div>
        <div class="form-row">
          
          <div class="form-group col-md-3">
            <label for="{{form.treatment.id_for_label}}">Treatment Type </label>
            {{ form.treatment}}
          </div>

          <div class="form-group col-md-4">
            <label for="{{form.treatment_place.id_for_label}}}">Treatment Place </label>
              {{ form.treatment_place }}
          </div>

          <div class="form-group col-md-2">
            <label for="{{form.treatment_place.id_for_label}}}">Test Date </label>
              
        
              
              {{ form.test_date }}
          </div>

          <div class="form-group col-md-3">
            <label for="{{form.telephone.id_for_label}}}">Telephone </label>
              {{ form.telephone }}
          </div>

        </div>
        </div>
        <div class="form-row">
            <div class='form-group col-md-6'>
          <label for="{{ form.address.id_for_label}}">Address</label>
          {{form.address}}
        </div>
        
        <div class="form-group col-md-6">
          <label for="inputAddress2">Family Info</label>
          {{form.family_info}}
        </div>
        </div>
        <div class="form-row">
         
          
          
          
        </div>
        <!--
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>-->
    <input type="submit" class="btn btn-sm btn-primary" value='Add Patient'>
    <input type="reset" class='btn btn-sm btn-outline-danger'>
         
      </form>

{% endblock %}
