{% extends 'base.html' %}
{% block css %} 
{% load static %}
<link rel="stylesheet" href="{% static 'base/patients.css' %}"  type="text/css">
{% endblock %}

{% block title %} 
All Patients
{% endblock %}

{% block content %}



<form  action="" style="margin-top: 20px;margin-left: 20px;box-sizing: content-box;">
    <input type="search" name="search" style="width: 25%;border:none;border-bottom: 1px solid black;" placeholder="Search Patients">
    <input type="submit" value="search" class="btn-sm btn btn-primary">

</form>


{% if patients %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">Serial Number</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Status</th>
        <th scope="col">View</th>

      </tr>
    </thead>
    <tbody>
{% for patient in patients %}
<tr>
    <th scope="row">{{ patient.id }}</th>
    <td>{{ patient.name }}</td>
    <td>{{ patient.age }}</td>
    <td>{{ patient.patient_status }}</td>
    <td><a href="{{ patient.get_absolute_url }}">
        <button type="button" class="btn btn-sm btn-primary">
            VIEW
        </button>
    </a></td>

  </tr>
{% endfor %} 

  </tbody>
  </table>

<!--<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>-->

<div class="pagination">
    <span class='step-links'>
        {% if patients.has_previous %} 
            <a href ="?page=1" class="page-item page-link">First</a>
            <a href="?page={{patients.previous_page_number}}">
                Previous Page 

            </a>
        {% endif %}
    <span class="current">
        Page {{ patients.number }} of {{ patients.paginator.num_pages }}
    </span>
    {% if patients.has_next %}
        <a href="?page={{ patients.next_page_number }}">next</a>
        <a href="?page={{ patients.paginator.num_pages}}">last</a>
    {% endif %} 
</span>
    
</div>
{% else %} 

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Yeah!! All is Well!</h1>
      <p class="lead">No patient was reported so far.</p>
    </div>
  </div>
{% endif %}
{% endblock %}