{% extends 'base.html' %}

{% block css %} 
{% load static %}
<link rel="stylesheet" href="{% static 'stylesheets/patients.css' %}"  type="text/css">
<script src="{% static 'scripts/filters.js' %}" ></script>


{% endblock %}

{% block title %} 
All Patients
{% endblock %}
{% block content %}

<div class="body">











<div class="patient-body">





{% if patients %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">Serial Number</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Status</th>
        <th scope="col">View</th>

      </tr>
    </thead>
    <tbody>
{% for patient in patients %}
<tr>
    <th scope="row">{{ patient.id }}</th>
    <td>{{ patient.name }}</td>
    <td>{{ patient.age }}</td>
    <td>{{ patient.patient_status }}</td>
    <td><a href="{{ patient.get_absolute_url }}">
        <button type="button" class="btn btn-sm btn-primary">
            VIEW
        </button>
    </a></td>

  </tr>
{% endfor %} 

  </tbody>
  </table>

<!--<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>-->

<div class="pagination">
    <span class='step-links'>
        {% if patients.has_previous %} 
            <a href ="?page=1" class="page-item page-link">First</a>
            <a href="?page={{patients.previous_page_number}}">
                Previous Page 

            </a>
        {% endif %}
    <span class="current">
        Page {{ patients.number }} of {{ patients.paginator.num_pages }}
    </span>
    {% if patients.has_next %}
        <a href="?page={{ patients.next_page_number }}">next</a>
        <a href="?page={{ patients.paginator.num_pages}}">last</a>
    {% endif %} 
</span>
    
</div>
{% else %} 

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Yeah!! All is Well!</h1>
      <p class="lead">No patient was reported so far.</p>
    </div>
  </div>
{% endif %}

</div>


<div class='filter'>

  <form  action="" >
    <div class='form-row'>
    <input type="search" name="name__icontains"  class='form-control form-group col-md-7' placeholder="Search Patients">
    <input type="submit" value="search" class="btn-sm btn btn-primary form-group col-md-3">
      </div>
</form>

<dl>
  <dt>Filter by Status</li>
    <dd><a onclick="filter_any_status()">Any status</a></dd>
    <dd><a onclick='filter_positive()'>Tested Positive</a></dd>
    <dd><a onclick='filter_dead()'>Dead</a></dd>
    <dd><a onclick='filter_quarantined ()'>Quarantined</a></dd>

    <dt>Filter By Age</dt>
    <dd><a onclick="filter_age_any()">Under 18</a></dd>
    <dd><a onclick="filter_age_1()">18 to 30</a></dd>
    <dd><a onclick="filter_age_2()">30 to 60</a></dd>
    <dd><a onclick="filter_age_3()">Above 60</a></dd>

    <dt>Filter By Treatment type</dt>
    <dd ><a onclick="filter_treatment_any()">Any Type</a></dd>

    <dd ><a onclick="filter_treatment_1()">Home</a></dd>
    <dd><a onclick="filter_treatment_2()">Workplace</a></dd>
    <dd><a onclick="filter_treatment_3()">Hospital</a></dd>
 

    <dt>Filter By Test type</dt>
    <dd><a onclick="filter_test_any()">Any Test</a></dd>

    <dd><a onclick="filter_test_1()">PCR</a></dd>
    <dd><a onclick="filter_test_2()">RAT</a></dd>





</dl>



</div>







</div>
{% endblock %}