{% extends 'base.html' %}
{%load static %}
{% block css %} 
<link rel="stylesheet" href="{% static 'base/view_patient.css' %}" type='text/css'>
{% endblock %} 

{% block content %}
<div class='info'>
<table class="table table-dark">
    
    <tbody>
      <tr>
        <th scope="row"> Name: </th>
        <td> {{ patient.name }}</td>
      </tr>
      <tr>
        <th scope="row"> Age: </th>
        <td> {{ patient.age }}</td>
      </tr>
      <tr>
        <th scope="row"> Address: </th>
        <td>{{patient.address|linebreaks}}</td>
      </tr>
      {% if patient.family_info %}
      <tr>
        <th scope="row"> Family Info: </th>
        <td>{{patient.family_info|linebreaks}}</td>
      </tr>
      {%endif%}
      <tr>
        <th scope="row"> Test Type: </th>
        <td>{{patient.tests}}</td>
      </tr>
      <tr>
        <th scope="row"> Tested Date: </th>
        <td>{{patient.test_date}}</td>
      </tr>
      <tr>
        <th scope="row"> Treatment Type:</th>
        <td>{{patient.treatment}}</td>
      </tr>
      {%if patient.treatment != 'Home' %}
      <tr>
        <th scope="row">Treatment Place: </th>
        <td>{{ patient.treatment_place }}</td>
      </tr>
      {% endif %}
      <tr>
        <th scope="row">Telephone</th>
        <td>{{patient.telephone}}</td>
      </tr>
      <tr>
        <th scope="row">Status</th>
        <td>{{patient.patient_status}}</td>
      </tr>
    </tbody>
  </table>
  </div>
{% endblock %}