{% load static %}

<head>
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'stylesheets/base.css' %}">



    {% block css %}
    {% endblock %} 

   
</head>
<title>
        {% block title %}
        

        {% endblock %}
        
        
</title>





    
        
          <!--<h1>COVID MANAGER</h1>
        </a>
        
            
                -->

            
            <nav class="navbar navbar-light bg-light">
                <a href="{% url 'manager:welcome' %}" id='link'>
                <h1><b>COVID19 MANAGER</b></h1>
                </a>
                <div class='user-info'>
                    <a href="{% url 'manager:add_patient_view' %}">
                        <button type="button" class="btn btn-outline-primary">
                            Add a Patient
                        </button>
                    </a>
                
                
                    <a href="{% url 'manager:all_patients' %}">
                        <button type="button" class="btn btn-outline-primary">
                            All Patients
                        </button>
                    </a>
                
                
                    {% if user.is_authenticated %} 
                        <a href="{% url 'logout' %}">
                        <button type="button" class="btn btn-outline-danger">
                            LOGOUT
                        </button>
                        </a>
                    {% else %} 
                        <a href="{% url 'login' %}">
                        <button type="button" class="btn btn-outline-primary">
                            LOGIN
                        </button>
                        </a>
                    {% endif %}
                    
                    
                </div>
               
            
            
            </nav>


{% block content %} 
{% endblock %}

</body>
