.body{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 75% 25%;
}





.filter{
    
    
    padding-left: 15px;
    padding-top: 15px;

    background-color: rgb(233, 227, 227);
}


.filter dd{
    cursor: copy;
    color: blue;
}
